/.idea

/docx_package/__pycache__
/eye_tracking_package/__pycache__

/Inputs/Pictures/Test
/Inputs/Tobii_data/Test
/Inputs/cGOM_data/Test

/Inputs/Text_input_bere.docx
/Inputs/Text_input_test.docx

/Outputs/*

/Report.docx
