/.idea

/docx_package/__pycache__
/eye_tracking_package/__pycache__

/Inputs/Pictures/*
/Inputs/Tobii_data/*
/Inputs/cGOM_data/*
/Inputs/Text_input_bere.docx
/Inputs/Text_input_test.docx

/Outputs/*

/Report.docx
