/.idea

/docx_package/__pycache__
/eye_tracking_package/__pycache__

/Inputs/Pictures/Test
/Inputs/Pictures/*
/Inputs/Tobii_data/Test
/Inputs/cGOM_data/Test
/Inputs/cGOM_data/Part*

/Inputs/Text_input_test.docx

/Outputs/Average*
/Outputs/Dwell*
/Outputs/Time*
/Outputs/Transitions*

/Report.docx
